<h1>Offers</h1>
<% if (user && user.role === 'customer') { %>
  <div class="card">
    <form action="/offers" method="POST" class="offer-form">
      <input type="text" name="title" placeholder="Title" required>
      <textarea name="description" placeholder="Description" required></textarea>
      <input type="number" name="price" placeholder="Price">
      <button type="submit">Add Offer</button>
    </form>
  </div>
  <% } %>