   <!-- Slideshow for Ads -->
   <div class="slideshow-container">
    <div class="mySlides fade">
      <img src="/image/ad1.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="/image/ad2.jpg" style="width:100%">
    </div>
    <div class="mySlides fade">
      <img src="/image/ad3.jpg" style="width:100%">
    </div>
  </div>