<!-- navbar.ejs -->
<nav>
      <ul>
        <% if (user) { %>
          <li><a href="/">Home</a></li>
          <li><a href="/#">About</a></li>
          <li><a href="/logout">Logout</a></li>
          <li><a href="/offers">View Offers</a></li>
          <li><a href="/requests">Requests</a></li>
          <li><a href="/#">Contact</a></li>
        <% } else { %>
          <li><a href="/">Home</a></li>
          <li><a href="/#">About</a></li>
          <li><a href="/login">Login</a></li>
          <li><a href="/register">Register</a></li>
          <li><a href="/#">Contact</a></li>
        <% } %>
      </ul>
      
  </nav>
</header>

<!-- sidebar -->

<!-- <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="close-btn" onclick="closeNav()">&times;</a>
  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <button class="open-btn" onclick="openNav()">&#9776; Open Sidebar</button>
  <h2>Sidebar Navigation Menu</h2>
  <p>Click on the hamburger icon to open the sidebar.</p>
</div> -->