    <div class="offers-container">
        <% offers.forEach(offer => { %>
        <div class="offer-card">
            <h2><%= offer.title %></h2>
            <p><%= offer.description %></p>
            <p><%= offer.price ? `Price: ${offer.price}` : 'Best Offer' %></p>
            <a href="/offers/<%= offer._id %>">View Details</a>
        </div>
        <% }) %>  
  </div>