<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <header>
      <nav>
        <a href="/">Home</a>
        <% if (!user) { %>
          <a href="/login">Login</a>
          <a href="/register">Register</a>
        <% } else { %>
          <a href="/offers">Offers</a>
          <a href="/logout">Logout</a>
        <% } %>
      </nav>
    </header>
    <main>
      <%- body %>
    </main>
  </div>
</body>
</html>
